:root{
  --color-texto: #191a1b;
  --color-texto-alt: white;
  --color-fondo: white;
  --color-fondo-alt: black;
  --color-acento:#DADBF1;
  --color-acento-fuerte:#4C5FD5;
}

@font-face {
  font-family: GT America Standard;
  src: url("./../fonts/GT-America-Standard-Regular-Trial.otf");
}

body{
  font-family: 'GT America Standard', sans-serif;
}

.contenedor-chico{
  width: 75%;
  margin: auto;
}

strong{
  font-weight: bold;
}

.desktop{

}

.mobile{
  display: none;
}

.escondido{
  display: none!important;
}

/* Header */
header{
  background-color: var(--color-fondo-alt);
  color: var(--color-texto-alt);
  font-size: 24px;
  padding: 20px 0;
}

header>div{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header>div>div, #logo{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:12px;

}

header img{
  height: 35px;
}

header a, footer a, .tarjeta a, #menu-header-mobile a{
  color: var(--color-texto-alt);
  text-decoration: none;
}

header a:hover, footer a:hover, .tarjeta a:hover{
  text-decoration: underline;
}

#header-links-desktop a{
  border-radius: 5px;
  padding: 12px 24px;
}

#header-links-desktop a:hover{
  text-decoration: none;
}

#header-submit-desktop{
  border: 1px solid var(--color-texto-alt);
  background-color: #191a1b;
}

#header-sign-in-desktop{
  background-color: var(--color-acento-fuerte);
  transition: 200ms ease-in-out;
}

#header-sign-in-desktop:hover{
  background-color: var(--color-fondo);
  color: var(--color-texto);
}

header button{
  background-color: unset;
  border: unset;
}

header button img{
  height: 30px;
}

#busqueda-header{
  background-color: var(--color-fondo);
  padding: 20px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#busqueda-header>div{
  max-width: 800px;
  margin: auto;
}

#busqueda-header input{
  border: 1px solid var(--color-texto);
  border-radius: 5px;
  padding: 7px 10px;
  width: 100%;
}

#busqueda-header button{
  font-size: 24px;
  font-weight: bold;
}

#menu-header-mobile{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #191a1b;
  border-top: 1px solid var(--color-texto-alt);
  padding: 30px 0;
}

#menu-header-mobile a{
  width: 50%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
}

#menu-header-mobile a:last-child{
  border-top: 1px solid var(--color-texto-alt);
}

/* Seccion búsqueda */
#seccion-busqueda{
  background-color: var(--color-acento);
  display: flex;
  justify-content: center;
}

#seccion-busqueda>div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 114px;
}

#barra-busqueda{
  display: flex;
  align-items: center;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-texto);
  border-radius: 5px;
  padding: 14px;
  width: 720px;
  max-width: 80%;
}

input[type=text]{
  background-color: unset;
  border: unset;
  font-size: 20px;
  width: 100%;
}

input[type=text]:focus{
  outline: none;
}

#barra-busqueda img{
  height: 40px;
}

h1{
  font-size: 80px;
  margin-bottom: 20px;
}

/* Sección tarjetas */
#seccion-tarjetas{
  background-color: var(--color-fondo);
  padding-top: 150px;
}

#seccion-tarjetas>div{
  display: flex;
  flex-wrap: wrap;
}

.tarjeta{
  display: flex;
  width: 45%;
  flex-grow: 1;
  margin-bottom: 70px;
}

.tarjeta img{
  height: 80px;
  margin-right: 40px;
}

.tarjeta>div:last-child{
  margin-right: 100px;
}

h2, h3{
  font-size: 24px;
  font-weight: 700;
}

h2, h3, p {
  margin-bottom: 24px;
}

.tarjeta p{
  font-size: 24px;
}

.tarjeta a {
  font-size: 20px;
  color: var(--color-acento-fuerte);
}
.tarjeta a::after{
  content: "→";
  display: inline-block;
  margin-left: 6px;
}


/* Footer */
footer{
  background-color: var(--color-fondo-alt);
  color: var(--color-texto-alt);
  padding: 60px 0;
}
footer>div{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-height: 300px;
}

footer img{
  width: 30px;
  margin-bottom: 20px;
}

footer>div>ul{
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
}

footer>div>ul>li{
  line-height: 22px;
}

#contact-us{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

#marca{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
#marca p{
  margin-bottom: 10px;
  font-size: 20px;
}

/* Extras */
#boton-help{
  position: fixed;
  bottom: 10px;
  right: 20px;
  background-color: var(--color-acento-fuerte);
  display: flex;
  align-items: center;
  padding: 12px 24px;
  color: var(--color-texto-alt);
  font-weight: bold;
  gap: 10px;
  border: unset;
  border-radius: 50px;
  font-size: 15px;
}

@media (max-width: 1200px){
  .mobile{
    display: block;
  }
  .desktop{
    display: none;
  }
}


@media (max-width: 768px){
  h1{
    font-size: 64px;
  }
  .tarjeta{
    width: 100%;
  }
  .tarjeta>div:last-child{
    margin: 0;
  }
  .contenedor-chico{
    width: 90%;
  }
}

@media (max-width: 500px){
  h1{
    font-size: 40px;
  }
}